header {
    background:#fff1d7;
    display: flex;
    justify-content: center;
}

.logo {
    width: 250px;
    border-radius: 70%;
    box-shadow: 60px -16px #f6b794;
}

.container {
    display: flexbox;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 1;
    margin: 20px 0;
}

footer {
    background: #fff1d7;
}